body {
    margin: 0%;
    padding: 0%;
    background: url(image/uw9hpu5-hd-desktop-wallpaper-1080p.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 background-repeat: no-repeat;
 letter-spacing: 1px;
}
.loginbox{
    width: 320px;
    height: 650px;
    background-color: rgb(80, 76, 76);

color: white;
top: 65%;
left: 20%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
border-radius: 10px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(80% - 50%);
}
h1{
    margin: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.loginbox p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;

}
 .loginbox input[type="text"], input[type="email"] {
    border: none; 
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px ;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    padding-top: 10px;
    touch-action:auto;
}
.loginbox img{
    align-items: center;
}
.loginbox a:hover{
    color: darkorange;

}


