nav{
    display: flex;
    justify-content:space-between;

   background-color: white;
     color: black;
    width: 100%;
    margin: 0%;
    padding: 10px;
   height: 40px;
}

.left_section{
    padding: 0px 10px 0px 10px;
}

   .left_section a{
     color: black;
    text-decoration: none;
   }

.left_section a :hover{
    color: rgb(31, 29, 29);
    text-decoration: none;
 }

 .right_section button{
    background-color: rgb(46, 117, 161); 
    color: black;
     padding: 8px;
     border: none;
     border-radius: 4px;
margin: 3px;
 }
 h1 {
    text-align: center;
    font-size: 30px;
    color: #000;
    font-style: italic;
    font-weight: bold;
    font-family:nyt-imperial,georgia,'times new roman',times,serif;
}

#item {
    margin-right: 26%;
}

#section1{
margin: auto;
width: 50%;
}
  #section1 a{    text-decoration: none;
     color: black;
 }

 #section1 a :hover{
    text-decoration: none;
    color: black;
}
.share_icon i{
 display: flex;
 justify-content: right;
}

/*body and text*/

.tommy{
    box-sizing: border-box;
 width: 50%;
 margin: auto;
 font-weight: 300;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
   
}
/*aside article 
.editor{
float: right;
display: grid;
}
*/

.theory{
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.theory h3{
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
}
.theory p{
color: rgb(126, 123, 123);
font-size: 13px;
width: 80%;
}
   .inflation_cards{
    display: flex;
}
    .inflation_cards img{
    width: 190px;
}
       .inflation_cards p{
font-size: 15px;
box-sizing: border-box;
width: auto;
font-weight: 400;
}

       .inflation_cardi{
    display: flex;
}
      .inflation_cardi img{
    width: 190px;
}
      .inflation_cardi p{
   font-size: 15px;
   box-sizing: border-box;
  width: auto;
font-weight: 400;
}
/*.comment{
    display: flex;
    justify-content: space-between;
  box-sizing: border-box;

}
.comment .read{
    width: 20%;
    margin: auto;
    padding: 5px;


}
*/
#downer {
display: grid;
justify-content: space-between;
box-sizing: border-box;
}
   #downer p{
   
box-sizing: border-box;

   }
  #downer a{
      color: rgb(58, 52, 52);
      text-decoration: none;
  }
  #downer a :hover{
      color: rgb(61, 60, 60);
      text-decoration:underline;

  }
  #downer {
    grid-template-columns: repeat(6, 1fr);
  }
 
 .first_footer{
    width: 150px;
    font-size: 13px;
    flex-direction: column;
 }
