
.spacex{
    text-decoration: none;
    border: none;
    margin-top: 0px;
    padding: 0px;
    color: black;
    font-family: serif;
    font-weight: lighter;
    
}
.spacex :hover{
    text-decoration: none;
    color: black;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
.with-image >img{
    align-items: center;
    margin: 0px;
    border: 0px;
    width: 66%;

}
.middle_section{
    align-items: center;
}
 .right_section{
    float: right;
}